#inputExpree{
  width: 65% !important;
  position: relative;
}
#inputBranch{
  width: 67%;
  position: relative;
}
#inputEnvKey{
  width: 30% !important;
  position: relative;
}
#inputEnvKeyVal{
  width: 5%;
  position: absolute;
  right: 6vw;
}
#branchSwitch{
  position: absolute;
  right: 3vw;
}
#inputBtn{
  position: absolute;
  right: 1vw;
}
.branch,.expression{
  padding-bottom: 2vh;

}
.environment{
  padding-bottom: 10vh;
}