.showWraper{
  position: relative;
}
#searchWrap{
  position: absolute;
  top: 2vh;
  left: 20vw;
}
#newTask{
  position: absolute;
  left: 40vw;
  top: 2vh;
}
#detailsBody{
  width: 90%;
  padding-top: 30vh;
  text-align: center;
  margin: 0 auto;
}