.wrap {
  width: 100%;
  border: 1px solid red;
  height: 80px;
  justify-content: normal;
  position: relative;
  margin: 0 auto;
}
.header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: normal;
}
.userLogin {
  width: 20%;
  border: 1px solid red;
}
.middle {
  width: 60%;
  display: flex;
  justify-content: center;
  border: 1px solid red;
}
.middle div {
  display: flex;
  width: 100%;
  justify-content: baseline;
}
.middle div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  padding-left: 3vw;
}
.right {
  width: 20%;
  display: flex;
}
.right div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.body{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.left,.right{
    width: 50%;
}
.body_right{
    padding-right: 20vw;
    padding-left: 50px;
}
.body_left{
  margin: 0 auto;
}
#showTable{
  width: 100%;
}